#board {
  width: 31em;
  height: 31em;
  position: relative;
  top: 0px;
  /*left: 25%;*/
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 4px;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* Original work below */

.players {
  position: relative;
  display: inline-block;
  left: 2em;
}

.reset {
  position: absolute;
  display: inline-block;
  top: 2em;
  right: 2em;
}

.square {
  display: inline-block;
  border: 1px solid black;
  width: 10em;
  height: 10em;
  margin-bottom: 1px;
}

/* display: table-cell is required in order to use vertical-align
 This allows for an X or O perfectly centered in the p */
.blank {
  display: table-cell;
  width: inherit;
  height: inherit;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  /*background-color: #D8D8D8;*/
}

.X {
  display: table-cell;
  width: inherit;
  height: inherit;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #81F7F3;
}

.O {
  display: table-cell;
  width: inherit;
  height: inherit;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #81F781;
}
